@font-face {
  font-family: 'worksans';
  src: url('./assets/fonts/worksans.ttf');
}

@font-face {
  font-family: 'assistant';
  src: url('./assets/fonts/assistant.ttf');
}

* {
  font-size: 14px;
  font-family: 'Worksans', sans-serif;
}

.font-worksans {
  font-family: 'Work Sans', sans-serif; 
}

.font-assistant {
  font-family: 'assistant', sans-serif;
  word-spacing: 4px;
}

body {
  margin: 0;
  padding: 0;
}